
body{
    background-color: #eaeded;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#logo{
    width: 200px;
    padding: 10px;
}

.bg-dark{
    background-color:#222f3e;
}

.bg-soft p{
    display: inline-block;
    margin-left: 15px;
    color: #eaeded;
    box-sizing: border-box;
}

#navbar{
    position: fixed;
    box-sizing: border-box;
    width: 100%;
    z-index: 2;
}

.bg-soft{
    background-color:#354758;
}

.bg-soft link{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #eaeded;
}

.bar_up{
    background-color:#f56600;
    color: #eaeded;
    text-align: center;
    margin: 80px 30px 30px 30px;
    padding: 10px;
}

.bar_down{
    background-image:url(assets/bg-image.png);
    color: #eaeded;
    text-align: center;
    margin: 30px;
    padding: 40px;

}

.blocco{
   margin: 30px;
   padding: 10px;
   background-color: white;
   display:inline;
   width: 100%;
}

.didascalia{
    margin-left: 20px;
    font-weight: bold;
    background-color: white;
}

.immagini_in_serie{
    display: flex;
    background-color: white;
}

.card_1{
    /* width: 270px; */
    width: 25%;
    height: 350px;
    background-image: url(assets/img_1.jpg);
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px #e7e5e5;
    position: relative;  

}

.like{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 220px;
    top: 25px;
    display: none;
    z-index: 1;
    cursor: pointer;

}

.like a:hover{
    color:red;
    z-index: 2;
    
}

.animazione:hover .like{
    display: grid;
}

.animazione:hover {
    filter: brightness(50%);
    background-color: black;
    transition: .3s;
    }

.compra{
    width: 150px;
    height: 50px;
    background-color: #4e75a2;
    position: absolute;
    top: 270px;
    left: 60px;
    display: none;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    color: #e7e5e5;
}

.animazione:hover .compra{
    display: grid;
    z-index: 1;
}



.card_2{
    width: 25%;
    height: 350px;
    background-image: url(assets/img_2.jpg);
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px #e7e5e5;
    position: relative;
    
}


.card_3{
    width: 25%;
    height: 350px;
    background-image: url(assets/img_3.jpg);
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px #e7e5e5;
    position: relative;
    
}


.card_4{
    width: 25%;
    height: 350px;
    background-image: url(assets/img_4.jpg);
    background-size: cover;
    margin: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px #e7e5e5;
    position: relative;
    
}

.mini_quattro{
    margin: 30px;
    padding: 10px;
    background-color: white;
    width: 25%;
    height: 350px;
    display: inline;

}

.mini_quattro img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titolo_mini_sezione{
    font-weight: bold;
    display: block;
    }

.prodotto1{
    width: 45%;
    height: 120px;
    display: inline-block;
    
}

.prodotto2{
    width: 45%;
    height: 120px;
    display: inline-block;
    position: relative;
    left: 50%;
   
}

.prodotto3{
    width: 45%;
    height: 120px;
    display: inline-block;
    position: relative;
    bottom: 81%;
    left: 50%;
    
}

.prodotto4{
    width: 45%;
    height: 120px;
    display: inline-block;
    position: relative;
    bottom: 81%;
    
}

.nome_oggetto1{
    display: block;
       
}

.nome_oggetto2{
    display: block;
    position: relative;
    left: 50%;
    
}

.nome_oggetto3{
    display: block;
    position: relative;
    bottom: 81%;
    left: 50%;
    
}


.nome_oggetto4{
    display: block;
    position: relative;
    bottom: 81%;
    
}

.mini_quattro a{
    display: block;
    position: relative;
    bottom: 75%;
}

.blocchi_uguali{
    margin: 25px;
   padding: 10px;
}

.immagine_grande_1{
    background-image: url(assets/img_9.png);
    background-size: cover;
    width: 100%;
    height: 400px;
}

.descrizione{
    text-align: center;
    margin: auto;
    font-weight: bold;
    padding: 5px;
}

.immagine_grande_2{
    background-image: url(assets/img_10.png);
    background-size: cover;
    width: 100%;
    height: 400px;
}

footer{
    text-align: center;
}

footer .bg-dark{
    padding: 40px;
}

footer .bg-soft{
    padding: 5px;
}

footer a{
    font-weight: bold;
    color: white;
}

a{
    color: #017185;
    font-weight: bold;
    text-decoration: none;
}