*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

li{
    list-style: none;
    display: inline;
}

h1{
    margin-bottom: 10px;
}

#sottotitolo{
    color: #b2b1b8;
    margin-bottom: 10px;
    font-size: 1em;
}

.rosso{
    color: red;
    margin-left: 20px;
}

#related{
    font-weight: bold;
    margin: 5px;
    color: #b2b1b8;
    
}

.lista_1{
    display: flex;
    align-items: baseline;
    justify-content:center;
    font-size: small;
    
}

.lista_2{
    display: flex;
    justify-content: space-between;
    font-size: small;
    color: #b2b1b8;
    align-items: baseline;
}


.menu{
    /* border: solid red 1px; */
    width: 95%;
    margin: 20px;
}

#bottone_1{
    border: solid #feedf3 2px;
    padding: 10px 30px 10px 10px;
    border-radius: 15px;
    margin-right: 70px;
    
}

#bottone_2{
    border: solid #ededee 2px;
    padding: 10px;
    border-radius: 15px;
    color: black;
    font-weight: bold;
    background-color: #ededee;
}

#bottone_3{
    border: solid #ededee 2px;
    padding: 10px;
    border-radius: 15px;
    margin-left: 70px;
}

main{
    width: 95%;
    margin: 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.card {
    max-width: 22%;
    min-width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: space-between;
    gap: 0.5rem;
    
}

.card figure {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
}
  
  
.card figure img {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.piccolina{
    width: 20px;
    border-radius: 60%;
    position: absolute;
}

.descrizione{
    display: flex;
    justify-content: space-between;
    /* border: solid 1px yellow; */
    position: relative;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48;
   width: 10%;
   justify-content: space-between;
   align-items: baseline;
}

.nome {
    position: absolute;
    left: 10%;
    font-size: smaller;
}

.badge {
    position: absolute;
    left: 50%;
    border: solid 1px #cccccc;
    background-color: #cccccc;
    border-radius: 5px;
    color: white;
    font-size: smaller;
}

.icone{
    width: 35%;
    /* border: solid 1px brown; */
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.dato{
    
    font-size:70%;
  
   
}


